<app-background></app-background>
<mat-card class="content">
  <h1>DSA5 Rechner</h1>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Probenrechner">
      <br>
      <app-probe-calc></app-probe-calc>
    </mat-tab>
    <mat-tab label="Fernkampfrechner">
      <br>
      <app-range-fight-calc></app-range-fight-calc>
    </mat-tab>
  </mat-tab-group>
  <br>
  <p class="copyright">(c) Tobias Miosczka 2018 - 2020 
    <br>
    Source on  <a href="https://github.com/tobiasmiosczka/dsa5-calculator">github</a>!
  </p>
</mat-card>