table {
    width: 100%;
}

.center {
    text-align: center;
    margin-top: 0px;
}

.content {
    margin: auto;
    margin-top: 0px;
    text-align: center;
    max-width: 600px;
    min-width: 300px;
}

.right {
    text-align: right;
}

.copyright {
    text-align: right;
    font-size: small;
}