<mat-form-field class="select">
    <mat-label>Entfernung</mat-label>
    <mat-select [(value)]="range" (selectionChange)="update()">
        <mat-option *ngFor="let range of ranges" [value]="range">
            {{range.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field class="select">
    <mat-label>Größe</mat-label>
    <mat-select [(value)]="size" (selectionChange)="update()">
        <mat-option *ngFor="let size of sizes" [value]="size">
            {{size.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field class="select">
    <mat-label>Gegnerische Bewegung</mat-label>
    <mat-select [(value)]="movementEnemy" (selectionChange)="update()">
        <mat-option *ngFor="let movementEnemy of movementsEnemy" [value]="movementEnemy">
            {{movementEnemy.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field class="select">
    <mat-label>Eigene Bewegung</mat-label>
    <mat-select [(value)]="movementSelf" (selectionChange)="update()">
        <mat-option *ngFor="let movementSelf of movementsSelf" [value]="movementSelf">
            {{movementSelf.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field class="select">
    <mat-label>Sicht</mat-label>
    <mat-select [(value)]="sight" (selectionChange)="update()">
        <mat-option *ngFor="let sight of sights" [value]="sight">
            {{sight.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
<p>{{resultString}}</p>
