/* You can add global styles to this file, and also import other style files */
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #222;
}

.valueSelector {
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: right;
}

.input {
    width: 100%;
}

table {
    text-align: right;
    margin: auto;
    width: 300px;
}

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}