<table class="input">
    <tr>
        <td>
            <label>Wert 1:</label>
        </td>
        <td>
            <label>{{value1}}</label>
        </td>
        <td>
            <mat-slider class="input" thumbLabel color="primary" matTooltip="Wert 1" [(ngModel)]="value1" (ngModelChange)="uptdateProbabilities()" min="1" max="25">Test</mat-slider>
        </td>
    </tr>
    <tr>
        <td>
            <label>Wert 2:</label>
        </td>
        <td>
            <label>{{value2}}</label>
        </td>
        <td>
            <mat-slider class="input" thumbLabel color="primary" matTooltip="Wert 2" [(ngModel)]="value2" (ngModelChange)="uptdateProbabilities()" min="1" max="25"></mat-slider>
        </td>
    </tr>
    <tr>
        <td>
            <label>Wert 3:</label>
        </td>
        <td>
            <label>{{value3}}</label>
        </td>
        <td>
            <mat-slider class="input" thumbLabel color="primary" matTooltip="Wert 3" [(ngModel)]="value3" (ngModelChange)="uptdateProbabilities()" min="1" max="25"></mat-slider>
        </td>
    </tr>
    <tr>
        <td>
            <label>Fertigkeitswert:</label>
        </td>
        <td>
            <label>{{fw}}</label>
        </td>
        <td>
            <mat-slider class="input" thumbLabel color="primary" matTooltip="Fertigkeitswert" [(ngModel)]="fw"  min="0" max="25" (ngModelChange)="uptdateProbabilities()"></mat-slider>
        </td>
    </tr>
    <tr>
        <td>
            <label>Bonus/Malus:</label>
        </td>
        <td>
            <label>{{mod}}</label>
        </td>
        <td>
            <mat-slider class="input" thumbLabel color="primary" matTooltip="Bonus / Malus" [(ngModel)]="mod"  min="-25" max="25" (ngModelChange)="uptdateProbabilities()"></mat-slider>
        </td>
    </tr>
    </table>
    <mat-tab-group dynamicHeight (selectedTabChange)="updateChart()">
        <mat-tab label="Tabelle">
            <table>
            <tr>
                <td>
                    <b>Ergebnis</b>
                </td>
                <td>
                    <b>Wahrscheinlichkeit</b>
                </td>
            </tr>
            <tr>
                <td>Kritischer Patzer</td>
                <td>{{data.criticalMiss | percentage}}</td>
            </tr>
            <tr>
                <td>Patzer</td>
                <td>{{data.miss | percentage}}</td>
            </tr>
            <tr>
                <td>QS 1</td>
                <td>{{data.qs1 | percentage}}</td>
            </tr>
            <tr>
                <td>QS 2</td>
                <td>{{data.qs2 | percentage}}</td>
            </tr>
            <tr>
                <td>QS 3</td>
                <td>{{data.qs3 | percentage}}</td>
            </tr>
            <tr>
                <td>QS 4</td>
                <td>{{data.qs4 | percentage}}</td>
            </tr>
            <tr>
                <td>QS 5</td>
                <td>{{data.qs5 | percentage}}</td>
            </tr>
            <tr>
                <td>QS 6</td>
                <td>{{data.qs6 | percentage}}</td>
            </tr>
            <tr>
                <td>Kritischer Erfolg</td>
                <td>{{data.criticalSuccess | percentage}}</td>
            </tr>
        </table>
    </mat-tab>
    <mat-tab label="Grafik">
        <div id="chart"></div>
    </mat-tab>
    <mat-tab label="Probe">
        <div class="center">
            <button mat-raised-button color="primary" (click)="probe()">Probe</button>
            <h3>Würfe</h3>
            {{w1}} {{w2}} {{w3}}
            <h3>Ergebnis</h3>
            {{result}}
        </div>
    </mat-tab>
</mat-tab-group>